@font-face {
	font-family: 's';
	src: url(fonts/Van Helsig.ttf);
	font-weight: 100;
}
	
	html, body {
	font-family: s;
	padding: 0px;
	margin:0px;
}



header {
	background-color: #a4c1c1;
	padding: 20px;
	text-align: center;
}
header {background-image: url('../img/danuwall city.jpg');}

h1 {
	text-align: center;
	font-family: s;
	font-weight: 100;
	font-size: 75px;
	color: #0086b3;
}
h2 {font-family: s;
	font-weight: 100;
	font-size: 45px;
}
h2 p {font-family: s;
	font-weight: 100;
	font-size: 50px;}
header img{
	border-radius: 100px;
	width:900px;
	border: 10px solid #344c4c;
}

.content{
	text-align: center;
	color: 	 #ffffff;
	font-size: 40px;
	margin: 0 auto;
	padding: 0 20px;
	background-image: url('../img/walltexture.jpg');
}

img.big-image{
	max-width: 100%
}

p.caption{
	font-size:50px;
	text-align: center;
	color: black;
	text-decoration:  underline;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #cc80ff
;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}